#header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 10px;
    padding: 20px 30px 20px 30px;
    background: black;
    color: white;
}
image {
    width: 560px;
}

.description {
  width: 560px;
  margin-right: 250px;
  border: 10px;
  font-size: 125%;
  float: right;
}
button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;



}
